.task-card {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
}

.task-card-title {
    display: flex;
    justify-content: space-between;
}

.filter-buttons {
    height: 45px;
}

.task-completion-status-icon,
.task-label,
.task-description {
    cursor: pointer;
}

.task-description {
    overflow: hidden;
    max-width: 400px;
}

.task-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.check-label-description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.label-description {
    display: flex;
    flex-direction: column;
}

.chevron-icon {
    font-size: xx-large;
}

.add-circle-icon {
    font-size: xx-large !important;
    padding: 15px;
    color: rgba(69, 71, 68, 1);
    /* rgba value to match other material icons  */
}

.add-task-button {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.add-task-item {
    margin-top: 15px;
}

.spacer {
    flex: 1;
}

.desc {
    font-size: 12px;
    color: #666;
}